<ul class="nav-list">
    <li class="nav-list-item">
      <a href="#needs" class="nav-list-link">Needs</a>
    </li>
    <li class="nav-list-item">
        <a href="#creative" class="nav-list-link">Creative</a>
    </li>
    <li class="nav-list-item">
        <a href="#the-show" class="nav-list-link">The Show</a>
    </li>
    <li class="nav-list-item">
        <a href="#actions" class="nav-list-link">Actions</a>
    </li>
    <li class="nav-list-item">
        <a href="#acting" class="nav-list-link">Acting</a>
    </li>
    <li class="nav-list-item">
        <a href="#tech" class="nav-list-link">Tech</a>
    </li>
  </ul>